<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Automation-Test-Suite">

	<listeners>
		<listener class-name="org.igt.listeners.TestListener"></listener>
		<listener class-name="org.igt.listeners.MethodInterceptor"></listener>
		<!-->listener class-name="org.igt.listeners.AnnotationTransformer" ></listener -->
		<listener class-name="com.epam.reportportal.testng.ReportPortalTestNGListener"></listener>
	</listeners>

	<test thread-count="1" name="Automation-Test-Suite">
		<classes>
		<class name="org.igt.aihealing.HealeniumWebTest" />
		<class name="org.igt.webtest.BrowserAlertAuthorizationTest" />
		<class name="org.igt.webtest.LoadInsecureWebsiteTest" />
		<class name="org.igt.webtest.NetworkInterceptTest" />
		<class name="org.igt.webtest.PrintToPDFTest" />
		<class name="org.igt.webtest.ResponsiveModeTest" />
		<class name="org.igt.webtest.ScreenRecorderTest" />
		<class name="org.igt.webtest.SetBrowserGeoLocationTest" />
		<class name="org.igt.webtest.TestInOfflineNetworkMode" />
		<class name="org.igt.webtest.TestInSlowNetworkMode" />
		<class name="org.igt.webtest.WebPageZoomTest" />
			<!-->class name="org.igt.visualtest.PercyWebTest" />
			<class name="org.igt.dashboardtest.ReportPortalWebTest" />
			<class name="org.igt.websecurityscan.ZAPScanTest" />
			<class name="org.igt.apitest.GetTest" />
			<class name="org.igt.apitest.PostTest" />
			<class name="org.igt.webtest.WebDemoTest" />
			<class name="org.igt.webtest.OrangeHRMTest" />
			<class name="org.igt.monkeytesting.GremlinsTest" />
			<class name="org.igt.webaccessibilitytest.AccessibilityScan" /-->
			<!-->class name="org.igt.visualtest.ApplitoolEyesWebTest" />
			<class name="org.igt.visualtest.ApplitoolEyesMobileTest" />
			<class name="org.igt.webaccessibilitytest.AccessibilityScan" />
			<class name="org.igt.desktopapptest.NotepadTest" />
			<class name="org.igt.mobiletest.AndroidMobileDemoTest" />
			<class name="org.igt.mobiletest.IOSMobileDemoTest" /-->
		</classes>
	</test>

</suite> <!-- Suite --> 